body {
  text-align: center;
  background: url('./twitter.png');
  font-family: 'MyFont', sans-serif;
}

@font-face {
  font-family: 'MyFont', sans-serif;
  src:
    url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
